<div class="heading">
  <h1>Add Location</h1>
</div>

<style>
  .check {
    opacity: 100;
    position: relative;
  }
</style>

<div class="divider"></div>
<div class="content">
  <div class="row">
  <form id="add_location_form" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" pattern="[A-Za-z]+" class="validate" required>
        <label for="first_name">Location Name</label>
        </div>
    </div>
    <div>
      <div>
        <label>Coverage:</label>
      </div>
      <div class="input-field col s6">
        <div class="row">
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="mon_shift1"> <label for="mon_shift1">  Shift 1  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="mon_shift2"> <label for="mon_shift2">  Shift 2  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="mon_shift3"> <label for="mon_shift3">  Shift 3  </label>
          Monday
        </div>
        <div class="row">
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="tue_shift1"> <label for="tue_shift1">  Shift 1  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="tue_shift2"> <label for="tue_shift2">  Shift 2  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="tue_shift3"> <label for="tue_shift3">  Shift 3  </label>
          Tuesday
        </div>
        <div class="row">
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="wen_shift1"> <label for="wen_shift1">  Shift 1  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="wen_shift2"> <label for="wen_shift2">  Shift 2  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="wen_shift3"> <label for="wen_shift3">  Shift 3  </label>
          Wendesday
        </div>
        <div class="row">
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="thu_shift1"> <label for="thu_shift1">  Shift 1  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="thu_shift2"> <label for="thu_shift2">  Shift 2  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="thu_shift3"> <label for="thu_shift3">  Shift 3  </label>
          Thursday
        </div>
        <div class="row">
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="fri_shift1"> <label for="fri_shift1">  Shift 1  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="fri_shift2"> <label for="fri_shift2">  Shift 2  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="fri_shift3"> <label for="fri_shift3">  Shift 3  </label>
          Friday
        </div>
        <div class="row">
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="sat_shift1"> <label for="sat_shift1">  Shift 1  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="sat_shift2"> <label for="sat_shift2">  Shift 2  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="sat_shift3"> <label for="sat_shift3">  Shift 3  </label>
          Saturday
        </div>
        <div class="row">
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="sun_shift1"> <label for="sun_shift1">  Shift 1  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="sun_shift2"> <label for="sun_shift2">  Shift 2  </label>
          <input type="checkbox" style="opacity: 100; position: relative; pointer-events: all" id="sun_shift3"> <label for="sun_shift3">  Shift 3  </label>
          Sunday
        </div>
      </div>
    </div>
  </form>
  <button onclick="post_location()" class ="btn waves-effect waves-light">Submit</button>
</div>
</div>

<script>

  //Get the value of the select box
  function post_location() {
    var name = $("#name").val();
    var coverage = [
      [+ $("#mon_shift1").prop('checked'), + $("#mon_shift2").prop('checked'), + $("#mon_shift3").prop('checked')],
      [+ $("#tue_shift1").prop('checked'), + $("#tue_shift2").prop('checked'), + $("#tue_shift3").prop('checked')],
      [+ $("#wen_shift1").prop('checked'), + $("#wen_shift2").prop('checked'), + $("#wen_shift3").prop('checked')],
      [+ $("#thu_shift1").prop('checked'), + $("#thu_shift2").prop('checked'), + $("#thu_shift3").prop('checked')],
      [+ $("#fri_shift1").prop('checked'), + $("#fri_shift2").prop('checked'), + $("#fri_shift3").prop('checked')],
      [+ $("#sat_shift1").prop('checked'), + $("#sat_shift2").prop('checked'), + $("#sat_shift3").prop('checked')],
      [+ $("#sun_shift1").prop('checked'), + $("#sun_shift2").prop('checked'), + $("#sun_shift3").prop('checked')],
    ];
    console.log(coverage);
    axios.post(apiPath + '/locations', {
        name: name,
        coverage: coverage,
      })
      .then(function (response) {
        document.getElementById("add_location_form").reset();
        M.toast({html: name + " has been added"})
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  var elems = document.querySelectorAll('select');
  var instances = M.FormSelect.init(elems);

</script>

